// **** COLORS ****

$header-bg-color: #6868ac;
$section-color-odd: #efefef;
$section-darkBg-color: lighten(
	$color: #000000,
	$amount: 10%,
);

$heading-color: #f9f1cc;

$color-btn01--dark: #4267b2;
$color-btn02--dark: #8b0000;
$color-btn02--light: #00b3b4;
$color-btn01: #fff;
$color-btn03--dark: rgb(163, 0, 54);
$color-btn04--dark: rgb(240, 0, 60);

$textShadow-color-01: #dfdfdf;
$textShadow-color-02: #000;
$textShadow-color-03: #f7f0f0;
$textShadow-color-04: #222;

$boxShadow-color-01: #c3af07;
$boxShadow-color-02: #ecd300;
